!!!!!!!!!!!!!!!!!!!!!!!
!!!! My xresources !!!! 
!!!!!!!!!!!!!!!!!!!!!!!

! Notes:
!!!!!!!!!!!!!!!!!!!
!
! Save in: ~/.Xresources 
! Apply with: xrdb -merge ~/.Xresources


! General section
!!!!!!!!!!!!!!!!!!!

!! Font configuration
Xft.dpi: 128
Xft.antialias: true
Xft.rgba: none
Xft.hinting: true
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! URxvt 
!!!!!!!!!!!!!!!!!!!

!! Fonts

! Inconsolata
! URxvt*font:            xft:Inconsolata for Powerline:size=10
! URxvt*boldFont:        xft:Inconsolata for Powerline:bold:size=10
! URxvt*italicFont:      xft:Inconsolata for Powerline:italic:autohint=true:size=10
! URxvt*boldItalicFont:  xft:Inconsolata for Powerline:bold:italic:autohint=true:size=10

! Droid Sans Mono
! URxvt*font:            xft:Droid Sans Mono for Powerline:size=8
! URxvt*boldFont:        xft:Droid Sans Mono for Powerline:bold:size=8
! URxvt*italicFont:      xft:Droid Sans Mono for Powerline:italic:autohint=true:size=8
! URxvt*boldItalicFont:  xft:Droid Sans Mono for Powerline:bold:italic:autohint=true:size=8

! DejaVu sans mono
URxvt*font:            xft:DejaVu Sans Mono for Powerline:size=12
URxvt*boldFont:        xft:DejaVu Sans Mono for Powerline:bold:size=12
URxvt*italicFont:      xft:DejaVu Sans Mono for Powerline:italic:autohint=true:size=12
URxvt*boldItalicFont:  xft:DejaVu Sans Mono for Powerline:bold:italic:autohint=true:size=12

!! General settings 

! Compile xft: Attempt to find a visual with the given bit depth; option -depth.
! URxvt*depth: bitdepth

! Compile xft: Turn on/off double-buffering for xft (default enabled).  On some
! URxvt*buffered: boolean
URxvt.buffered:          true

! Create the window with the specified X window geometry [default 80x24]; option
! URxvt*geometry: geom

! Use the specified colour as the windows foreground colour [default Black]; option
! URxvt*foreground: colour

! Use the specified colour for the colour value n, where 0-7 corresponds to low-
! URxvt*colorn: colour

! URxvt*colorBD: colour

! Use the specified colour to display bold or italic characters when the foreground
! URxvt*colorIT: colour

! Use the specified colour to display underlined characters when the foreground
! URxvt*colorUL: colour

! If set, use the specified colour as the colour for the underline itself. If unset,
! URxvt*underlineColor: colour

! If set, use the specified colour as the background for highlighted characters. If
! URxvt*highlightColor: colour

! If set and highlightColor is set, use the specified colour as the foreground for
! URxvt*highlightTextColor: colour

! Use the specified colour for the colour of the cursor text. For this to take
! URxvt*cursorColor2: colour

! True: simulate reverse video by foreground and background colours; option -rv.
! URxvt*reverseVideo: boolean

! True: specify that jump scrolling should be used. When receiving lots of lines,
! URxvt*jumpScroll: boolean

! True: (the default) specify that skip scrolling should be used. When receiving
! URxvt*skipScroll: boolean

! Set the application icon pixmap; option -icon.
! URxvt*iconFile: file

! Use the specified colour for the scrollbar [default #B2B2B2].
! URxvt*scrollColor: colour

! Use the specified colour for the scrollbars trough area [default #969696]. Only
! URxvt*troughColor: colour

! The colour of the border around the text area and between the scrollbar and the
! URxvt*borderColor: colour

! Select the fonts to be used. This is a comma separated list of font names that are
! URxvt*font: fontlist

! URxvt*boldFont: fontlist

! URxvt*italicFont: fontlist

! The font list to use for displaying bold, italic or bold italic characters,
! URxvt*boldItalicFont: fontlist

! When font styles are not enabled, or this option is enabled (True, option -is, the
! ! URxvt*intensityStyles: boolean
URxvt*intensityStyles: false

! Set window title string, the default title is the command-line specified after the
! URxvt*title: string

! Set the name used to label the windows icon or displayed in an icon manager
! URxvt*iconName: string

! True: de-iconify (map) on receipt of a bell character. False: no de-iconify (map)
! URxvt*mapAlert: boolean

! True: set the urgency hint for the wm on receipt of a bell character.  False: do
! URxvt*urgentOnBell: boolean

! True: use visual bell on receipt of a bell character; option -vb.  False: no
! URxvt*visualBell: boolean

! True: start as a login shell by prepending a - to argv[0] of the shell; option
! URxvt*loginShell: boolean
URxvt*loginShell:        true

! Specify the maximum time in milliseconds between multi-click select events. The
! URxvt*multiClickTime: number

! True: inhibit writing record into the system log file utmp; option -ut. False:
! URxvt*utmpInhibit: boolean

! Specify a command pipe for vt100 printer [default lpr(1)]. Use Print to initiate a
! URxvt*print-pipe: string

! Set scrollbar style to rxvt, plain, next or xterm. plain is the authors
! URxvt*scrollstyle: mode

! Set the scrollbar width in pixels.
! URxvt*thickness: number

! True: enable the scrollbar [default]; option -sb. False: disable the scrollbar;
! URxvt*scrollBar: boolean
URxvt*scrollBar:         false 

! True: place the scrollbar on the right of the window; option -sr.  False: place
! URxvt*scrollBar_right: boolean

! True: display an rxvt scrollbar without a trough; option -st.  False: display an
! URxvt*scrollBar_floating: boolean

! Align the top, bottom or centre [default] of the scrollbar thumb with the pointer
! URxvt*scrollBar_align: mode

! True: scroll to bottom when tty receives output; option -si.  False: do not scroll
! URxvt*scrollTtyOutput: boolean
URxvt*scrollTtyOutput: false

! True: scroll with scrollback buffer when tty receives new lines (i.e.  try to show
! URxvt*scrollWithBuffer: boolean
URxvt*scrollWithBuffer: true

! True: scroll to bottom when a non-special key is pressed. Special keys are those
! URxvt*scrollTtyKeypress: boolean
URxvt*scrollTtyKeypress: true

! Save number lines in the scrollback buffer [default 1000]; option -sl.
! URxvt*saveLines: number
URxvt*saveLines:         20000

! Internal border of number pixels. This resource is limited to 100; option -b.
! URxvt*internalBorder: number

! External border of number pixels. This resource is limited to 100; option -w, -bw,
! URxvt*externalBorder: number

! Set MWM hints to request a borderless window, i.e. if honoured by the WM, the
! URxvt*borderLess: boolean

! Compile frills: Disable the usage of the built-in block graphics/line drawing
! URxvt*skipBuiltinGlyphs: boolean

! Specifies the terminal type name to be set in the TERM environment variable;
! URxvt*termName: termname
! URxvt*termName: rxvt
! URxvt*termName:  screen-256color-bce

! Specifies number of lines (pixel height) to insert between each row of the display
! URxvt*lineSpace: number

! True: handle Meta (Alt) + keypress to set the 8th bit. False: handle Meta (Alt) +
! URxvt*meta8: boolean

! True: the mouse wheel scrolls a page full. False: the mouse wheel scrolls five
! URxvt*mouseWheelScrollPage: boolean

! True: store tabs as wide characters. False: interpret tabs as cursor movement
! URxvt*pastableTabs: boolean

! True: blink the cursor. False: do not blink the cursor [default]; option -bc.
! URxvt*cursorBlink: boolean

! True: Make the cursor underlined. False: Make the cursor a box [default]; option
! URxvt*cursorUnderline: boolean

! True: blank the pointer when a key is pressed or after a set number of seconds of
! URxvt*pointerBlank: boolean


! Mouse pointer background colour.
! URxvt*pointerColor2: colour

! Compile frills: Specifies the name of the mouse pointer shape [default xterm]. See
! URxvt*pointerShape: string

! Specifies number of seconds before blanking the pointer [default 2]. Use a large
! URxvt*pointerBlankDelay: number

! The string to send when the backspace key is pressed. If set to DEC or unset it
! URxvt*backspacekey: string

! The string to send when the delete key (not the keypad delete key) is pressed. If
! URxvt*deletekey: string

! The characters used as delimiters for double-click word selection (whitespace
! URxvt*cutchars: string

! OnTheSpot, OverTheSpot, OffTheSpot, Root; option -pt.
! URxvt*preeditType: style

! name of inputMethod to use; option -im.
! URxvt*inputMethod: name

! The locale to use for opening the IM. You can use an "LC_CTYPE" of e.g.
! URxvt*imLocale: name

! Specify the font-set used for XIM styles "OverTheSpot" or "OffTheSpot". It must be
! URxvt*imFont: fontset

! Change the meaning of triple-click selection with the left mouse button. Instead
! URxvt*tripleclickwords: boolean

! Enables "insecure" mode. Rxvt-unicode offers some escape sequences that echo
! URxvt*insecure: boolean

! Set the key to be interpreted as the Meta key to: alt, meta, hyper, super, mod1,
! URxvt*modifier: modifier

! Specify the reply rxvt-unicode sends to the shell when an ENQ (control-E)
! URxvt*answerbackString: string

! Turn on/off secondary screen (default enabled).
! URxvt*secondaryScreen: boolean

! Turn on/off secondary screen scroll (default enabled). If this option is enabled,
! URxvt*secondaryScroll: boolean
URxvt*secondaryScroll: true

! Turn on/off hold window after exit support. If enabled, urxvt will not immediately
! URxvt*hold: boolean

! Sets the working directory for the shell (or the command specified via -e). The
! URxvt*chdir: path

! Compile frills: Associate action with keysym sym. The intervening resource name
! URxvt*keysym.sym: action

! URxvt*perl-ext-common: string
URxvt*perl-ext-common: default,matcher,clipboard-osc,selection-to-clipboard,font-size

! from the plugins
URxvt*clipboard.autocopy: true
! perl plugins

URxvt.keysym.Control-0x2b: perl:font-size:increase
URxvt.keysym.Control-0x2d: perl:font-size:decrease
URxvt.keysym.C-equal:  font-size:reset
! URxvt.keysym.C-Up:     font-size:increase
! URxvt.keysym.C-Down:   font-size:decrease
! URxvt.keysym.C-S-Up:   font-size:incglobal
! URxvt.keysym.C-S-Down: font-size:decglobal
! URxvt.keysym.C-slash:  font-size:show

! Comma-separated list(s) of perl extension scripts (default: "default") to use in
! URxvt*perl-ext: string

! Perl code to be evaluated when all extensions have been registered. See the
! URxvt*perl-eval: string

! Colon-separated list of additional directories that hold extension scripts. When
! URxvt*perl-lib: path

! Additional selection patterns, see the urxvtperl(3) manpage for details.
! URxvt*selection.pattern-idx: perl-regex

! Selection auto-transform patterns, see the urxvtperl(3) manpage for details.
! URxvt*selection-autotransform.idx: perl-transform

! This resource is deprecated and will be removed. Use a keysym resource instead,
! URxvt*searchable-scrollback: keysym *DEPRECATED*

! Specifies the program to be started with a URL argument. Used by the
! URxvt*url-launcher: string
URxvt*url-launcher: /usr/bin/xdg-open

! Compile frills: Sets the WM_TRANSIENT_FOR property to the given window id.
! URxvt*transient-for: windowid

! Compile frills: Sets override-redirect for the terminal window, making it almost
! URxvt*override-redirect: boolean

! Turn on/off ISO 14755 (default enabled).
! URxvt*iso14755: boolean
! to get back the alt shift keys 
URxvt*.iso14755: False

! Turn on/off ISO 14755 5.2 mode (default enabled).
! URxvt*iso14755_52: boolean
! to get back the alt shift keys 
URxvt*.iso14755_52: False

! Other stuff without detailed documentation
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
URxvt*matcher.button: 1
! URxvt*inheritPixmap:                  boolean
! URxvt*transparent:                    boolean
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*blurRadius:                     HxV
! URxvt*visual:                         number
! URxvt*letterSpace:                    number
! URxvt*xrm:                            string
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*kuake.hotkey:                   string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour

!! Keys

! key mappings
! these are not working yet
! URxvt*.keysym.C-S-c: perl:clipboard:copy
! URxvt*.keysym.C-S-v: perl:clipboard:paste

!! Color schema

! solarized
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*fading: 35
*fadeColor: nord3

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6


XTerm.vt100.locale: true
XTerm.ttyModes: erase ^?
XTerm.vt100.backarrowKey: true
XTerm.vt100.translations: #override \
    <Key>Delete: string("\033[3~") \n\
    Ctrl <Key>M: maximize() \n\
    Ctrl <Key>R: restore()  \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
    Shift <Key>Up: scroll-back(1,line) \n\
    Shift <Key>Down: scroll-forw(1,line) 
XTerm.vt100.saveLines: 4096

xterm*font:     9x15
xterm*geometry: 80x40
